html {
    background-color: black;
}

body {
    background-color: lightgrey;

    width: fit-content;
    height: fit-content;

    padding: 0;
    margin: 0;
    border: 0;
}

.labels {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));

    width: 210mm;
    height: 297mm;

    column-gap: 2mm;

    padding: 4mm 3mm 4mm 3mm;
}

.labels div {
    border-radius: 4mm;
    border: 4mm white solid;
    background-color: white;
}

.labels div section * {
    display: inline;
}

.label-text {
    padding: 0;
    margin: 1mm 0mm 1mm 0mm;

    font-size: 10.5pt;
}