html {
    background-color: black;
}

body {
    background-color: #C6C8CA;

    width: fit-content;
    height: fit-content;

    padding: 0;
    margin: 0;
    border: 0;
}

* {
    /*font-family: 'Proximia Nova', Helvetica, Arial, sans-serif*/
    font-family: 'Courier New', Courier, monospace;
}

.labels {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));

    width: 197.5mm;/*210mm;*/
    height: 279.6mm;/*297mm;*/

    column-gap: 2.5mm;

    padding: 8.7mm 6.25mm 8.7mm 6.25mm;
}

.labels div.label {
    border-radius: 4mm;
    border: 1mm white solid;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0mm 3mm 0mm 3mm;
}

.labels div.label-content {
    width: fit-content;
    height: fit-content;
}

.labels div.reagent-label-content {
    width: 100%;
    height: fit-content;
}

.labels div.reagent-label-content * {
    font-family: Arial
}

.label-text {
    margin: 1mm 0mm 1mm 0mm;
    padding: 0;
}

.labels div.reagent-label-content .label-text {
    margin: 0.5mm 0mm 0mm 0mm;
}

h2.label-text {
    font-size: 14pt;
}

h3.label-text {
    font-size: 13pt;
}

h4.label-text {
    font-size: 10pt;
}

h5.label-text {
    font-size: 7pt;
}
