html {
    background-color: black;
}

body {
    background-color: lightgrey;

    width: fit-content;
    height: fit-content;

    padding: 0;
    margin: 0;
    border: 0;
}

.labels {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));

    width: 197.5mm;/*210mm;*/
    height: 279.6mm;/*297mm;*/

    column-gap: 2.5mm;

    padding: 8.7mm 6.25mm 8.7mm 6.25mm;
}

.labels div.label {
    border-radius: 4mm;
    border: 1mm white solid;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.labels div.label-content {
    width: fit-content;
    height: fit-content;
}

.labels div section * {
    display: inline;
}

.label-text {
    padding: 0;
    margin: 1mm 0mm 1mm 0mm;

    font-size: 11pt;
}
