.partialSheetData {
    visibility: hidden;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

section.display-grid {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.display-grid div {
    border: 5px gray solid;
    border-radius: 10px;
    width: fit-content;
    height: auto;
    margin: 20px;
}

section.display-grid div img {
    border-radius: 5px 5px 0px 0px;
}

section.display-grid div h3 {
    text-align: center;
    margin: 0;
    border-top: 5px gray solid;
    border-radius: 0px 0px 5px 5px;
    background-color: lightgray;
}