.partialSheetData {
    visibility: hidden;
}

* {
    font-family: 'Proximia Nova', Helvetica, Arial, sans-serif
    /*font-family: 'Courier New', Courier, monospace;*/
}

html {
    background-color: #E6E7E8;
}

div.label-container {
    width:47.5%;
    padding: 0px; 
    border:2px black solid; 
    margin: 10px auto 10px auto; 
    border-radius:25px;
    background-color: #FFFFFF;
}

div.label-container h2 {
    padding: 10px;
    text-align: center;
    margin:0;
    border-bottom:2px black solid;
    background-color: #FFCCFF;
    border-radius:25px 25px 0px 0px
}

h3 {
    padding-left:10px;
    margin-bottom:0;
    text-align: center;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
}

section.display-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section.display-grid div.individual_label {
    border: 5px #6D6E71 solid;
    border-radius: 10px;
    width: fit-content;
    height: auto;
    margin: 20px;
}

section.display-grid div img {
    border-radius: 5px 5px 0px 0px;
}

section.display-grid div h4 {
    text-align: center;
    margin: 0;
    border-top: 5px #6D6E71 solid;
    background-color: #C6C8CA;
}

section.display-grid div div {
    justify-content: center;
    border-top: 5px #6D6E71 solid;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    background-color: #C6C8CA;
}

section.display-grid div div h5 {
    padding: 0;
    margin: auto 0 auto 0;
}

div.hover-img img {
    visibility: hidden;
    position: absolute;
    height: 50%;
}

div.hover-img:hover img {
    visibility: visible;
}