.partialSheetData {
    visibility: hidden;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

html {
    background-color: #EEEEEE;
}

div.label-container {
    width:47.5%;
    padding: 0px; 
    border:2px black solid; 
    margin: 10px auto 10px auto; 
    border-radius:25px;
    background-color: #FFFFFF;
}

div.label-container h2 {
    padding: 10px;
    text-align: center;
    margin:0;
    border-bottom:2px black solid;
    background-color: #FFCCFF;
    border-radius:25px 25px 0px 0px
}

h3 {
    padding-left:10px;
    margin-bottom:0;
    text-align: center;
}

section.display-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section.display-grid div {
    border: 5px gray solid;
    border-radius: 10px;
    width: fit-content;
    height: auto;
    margin: 20px;
}

section.display-grid div img {
    border-radius: 5px 5px 0px 0px;
}

section.display-grid div h4 {
    text-align: center;
    margin: 0;
    border-top: 5px gray solid;
    border-radius: 0px 0px 5px 5px;
    background-color: lightgray;
}